<!DOCTYPE html>
<html>
<head>
<meta content='text/html'; charset='UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome, <%= @user.name %></h1>
<% @user.todo_lists.each do |list| %>
  <div>
    <p><%= list.description %></p>
    <ul>
      <% list.todo_items.each do |item| %>
        <li><h5><%= item.content %></h5>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<br>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
